# Build outputs
bin/
obj/
dist/

# Test outputs
test-results/

# Node
node_modules/
tsconfig.tsbuildinfo

# Visual Studio
.vs/
*.user
*.suo

# Rider / ReSharper
.idea/
_ReSharper*/
*.DotSettings.user

